node_modules/
.env
*.log
.DS_Store
*.apk
*.AppImage
*.zip
dromgram/build/
dromgram/.dart_tool/
dromgram/android/.gradle/
Images/
dromgram-desktop/dist/
dromgram-desktop/node_modules/
TG-backend/node_modules/
TG-backend/uploads/
dist/
*.jks
key.properties
local.properties
*.env
dist/
*.js.map
*.txt
*.sh
Promt*.txt
vopros.txt
promt.txt
